body{
    background-color: #e0e0e0;
}

nav{
    z-index: 1000;
    position: fixed;
    background-color: #1b39a8 !important;
}

.container{
    width: 98% !important;
}

.general{
    display: flex;
    margin-top: 2.90rem;
    min-height: 100vh;
    justify-content: space-between;
}

.leftColumn{
    z-index: 100;
    position: fixed;
    min-height: 100vmax;
    border-right: 1px solid #ccc;
}

.rightColumn{

}

hr{
    border: 1px solid #e0e0e0;
}

.with-header{
    border:none !important;
}

.leftColumn .collection-item{
    border: none !important;
}

thead th{
    border-radius: 0px !important;
}

.paddingForm{
    padding: 15px;
    /*background: #FFFFFF;*/
}

#card-alert i{
    font-size: 20px;
    position: relative;
    top: 4px;
}


